<div class="container landing">
    <div class="text-landing">
        <h2 class="d-flex flex-column">
            <span>The best Product</span>
            <span>in evey category</span>
        </h2>

        <input type="text" name="search" placeholder="Seacrh in" class="form-control">
    </div>
    <div class="img-fluid" style="width: 50%;">
        <img src="svg/product_tour.svg" width="90%" alt="Landing">
    </div>
</div>