<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/header') %>
    <title>Blogs</title>
  </head>
  <body>
    <%- include('nav-components/nav') %>

    <main class="blogs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center mb-5">Update Blogs</h4>
                    <div class="form-group">
                        <input type="search" id="search" placeholder="Search..." class="form-control">
                    </div>
                </div>
                <!-- <div class="col-md-6">
                    <div class="landing-blogs">
                        <img src="svg/blog.svg">
                    </div>
                </div> -->
            </div>
            <div class="blogs-category text-right mt-4">
                <label for="category">Category : </label>
                <select id="">
                    <option value="all" selected>ALL</option>
                    <option value="game">Bisnis</option>
                    <option value="game">Game</option>
                    <option value="academic">Academic</option>
                </select>
            </div>
        </div>
    </main>

    <%- include('components/footer') %>
  </body>
</html>
