<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/header') %>
   <title>Home</title>
</head>
<body>
    
    <%- include('nav-components/nav') %>

    
    <%- include('components/footer') %>
</body>
</html>