<ul class="nav parent-dropdown">
    <li class="nav-item dropdown">
        <a href="/" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" id="navbarDropdown">
            <img src="svg/user.svg" width="25px" alt="user">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">  
                <a class="dropdown-item" href="/register">
                    <img src="svg/register.svg" width="15px" alt="register"> Register
                </a>
                <a class="dropdown-item" href="/login">
                    <img src="svg/login.svg" width="15px" alt="login"> Login
                </a>
        </div>
    </li>
</ul>